# Ignore code coverage and dependencies folders
# NOTE: don't exclude build or it will be unavailable for the CI action
coverage
node_modules

# Editors
.idea
.vscode

# OS metadata
.DS_Store
Thumbs.db

# typedoc - for now
docs

# code-points
code-points.mem
