# Specific directories (code coverage, dependencies, etc.)
# NOTE: don't exclude build or it will be unavailable for the CI action
coverage
node_modules
package-lock.json

# Editors
.vscode

# OS metadata
.DS_Store
Thumbs.db

# typedoc - for now
docs

# most logs
**/*.log
